* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

._cont {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* pinyon-script-regular - latin */
@font-face {
    font-family: 'Pinyon Script';
    font-style: normal;
    font-weight: 400;
    src: local('Pinyon Script'), local('PinyonScript'),
         url('./fonts/pinyon-script-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/pinyon-script-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('./fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('./fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
         url('./fonts/montserrat-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/montserrat-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('./fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/montserrat-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-serif-text-italic - latin */
@font-face {
    font-family: 'DM Serif Text';
    font-style: italic;
    font-weight: 400;
    src: local('DM Serif Text Italic'), local('DMSerifText-Italic'),
         url('./fonts/dm-serif-text-v4-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/dm-serif-text-v4-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-slab-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --main-font: "Montserrat", sans-serif;
}


/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo__link {
    font-family: 'Pinyon Script', cursive;
    font-size: 26px;
    color: rgb(254, 209, 54);
}

.nav__list {
    display: flex;
    width: 485px;
}

.nav__list__item:not(:last-child) {
    margin-right: 40px;
}

.nav__list__link {
    color: rgb(34, 34, 34);
    font-family: var(--main-font);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav__list__link:hover {
    color: rgb(254, 209, 54);
    transition: 0.2s linear;
}


/* SECTION SERVICES */

.services__title {
    padding-top: 120px;
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 700;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}

.title__description {
    font-family: 'DM Serif Text', italic;
    font-size: 16px;
    margin-bottom: 70px;
    color: rgb(119, 119, 119);
}

.services__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

._basket::before {
    background-image: url(./images/01_Icon-Basket.png);
}

._laptop::before {
    background-image: url(./images/02_Icon-Laptop.png);
}

._locked::before {
    background-image: url(./images/03_Icon-Locked.png);
}

.servisec__list__item {
    flex-basis: 280px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servisec__list__item::before {
    content: "";
    border: 3px solid #fed136;
    border-radius: 50%;
    height: 74px;
    width: 74px;
    background-repeat: no-repeat;
    background-position: center;
}

.servisec__list__item__title {
    margin-top: 25px;
    margin-bottom: 15px;
}

.servisec__list__item__description {
    font-family: 'Roboto Slab' sans-serif;
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.services__list__item__br {
    display: block;
}


/* SECTION CONTACT */
.contact {
    background-color: rgb(34, 34, 34);
    background-image: url(./images/bg__map.png);
    background-repeat: no-repeat;
    background-position: right bottom 20px;

}

.contact__title {
    padding-top: 110px;
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.contact__form {
    padding-bottom: 115px;
}

.contact__form__only {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
}

.input__left {
    display: flex;
    flex-direction: column;
}

.contact__form__input {
    width: 455px;
    height: 54px;
    margin-bottom: 27px;
    padding-left: 19px;
}

.contact__form__input,
.contact__form__message {
    border: 2px solid rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: rgb(187, 187, 187);
}

.contact__form__input::placeholder,
.contact__form__message::placeholder {
    text-transform: uppercase;   
}

.contact__form__input:last-child {
    margin-bottom: 0;
}

.contact__form__message {
    width: 455px;
    resize: none;
    padding: 19px 0 0 19px;
}

.contact__form__input:required:focus,
.contact__form__message:required:focus {
    outline: none;
}

.contact__form__input:required:focus:valid:not(:placeholder-shown),
.contact__form__message:required:focus:valid:not(:placeholder-shown) {
    border: 2px solid rgb(0, 128, 0);
}

.contact__form__input:required:focus:invalid:not(:placeholder-shown),
.contact__form__message:required:focus:invalid:not(:placeholder-shown) {
    border: 2px solid rgb(255, 0, 0);
}



/* BUTTON */
.contact__form__btn {
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    width: 240px;
    height: 66px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.contact__form__btn:hover {
    background-color: rgb(223, 183, 39);
    transition: 0.2s linear;
}

